<div class="results-container">
    {% for item in ipInfo %}
        <div class="result">
            {% if item['data']['mapLink'] %}
                <iframe
                    title='Google Maps'
                    src={{ item['data']['mapLink']}}
                ></iframe>
            {% else %}
                <h2>No map available</h2>
            {% endif %}

            {% if item['label'] %}
                <h3>{{ item['label']}} ({{ item['ip'] }})</h2>
            {% else %}
                <h3>{{ item['ip'] }}</h4>
            {% endif %}
            <div>
                {% include 'icons/location.html.twig' with { 'size': '20', 'title': 'Location' } %}
                <h4>{{ item['data']['city'] }}, {{ item['data']['country']}}</h4>
            </div>
            <div>
                {% include 'icons/postal-code.html.twig' with { 'size': '20', 'title': 'Postal Code' } %}
                <p>{{ item['data']['postalCode'] }}</p>
            </div>
            <div>
                {% include 'icons/accuracy.html.twig' with { 'size': '20', 'title': 'Accuracy' } %}
                <p>{{ item['data']['accuracy'] }}km</p>   
            </div>
            <div>
                {% include 'icons/clock.html.twig' with { 'size': '20', 'title': 'Local Time' } %}
                <p>{{ item['data']['time'] }}</p>
            </div>
        </div>
    {% endfor %}

    <button
        id="back"
        class="seconary"
        hx-get="/search"
        hx-trigger="click"
        hx-target="main"
    >
        Back
    </button>
</div>
